


<div class="homePage"><h1>Welcome to Adventure Project!</h1>
<h2>Adventure Project is place where our community of explorers and outdoor enthusiests can share their different experiences, challenges and adventures. A place where you can find new goals and adventures of your own!</h2>
<div class="findAdventure">
<a href="/adventures">FIND NEW ADVENTURES!</a>
</div>
</div>
