<header>
<h1>Welcome to Adventure!</h1>
</header>
<div class="homePage">
<h2>Adventure is place where the community can share their different adventures and challenge and share with other their own adventures!</h2>

<a href="/adventures">FIND NEW ADVENTURES!</a>
</div>