<div class="newAdventure">

<h2>CREATE NEW ADVENTURE:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>NAME: </label>
    <input type="text" name="name"/>
  </p>
    <p>
    <label>TYPE: </label>
    <input type="text" name="type"/>
  </p>
    <p>
    <label>LOCATION: </label>
    <input type="text" name="location"/>
  </p>
    <p>
    <label>DESCRIPTION: </label>
    <input type="text" name="description"/>
  </p>

 <p>
    <label>ADD IMAGE: </label>
    <input type="text" name="img"/>
  </p>

  <div class="createButton">
  <input type="submit" value="Create" />
  </div>
</form>

</div>