<h2>New Adventure:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>name:</label>
    <input type="text" name="name"/>
  </p>
    <p>
    <label>type:</label>
    <input type="text" name="type"/>
  </p>
    <p>
    <label>location:</label>
    <input type="text" name="location"/>
  </p>
    <p>
    <label>description:</label>
    <input type="text" name="description"/>
  </p>
  <input type="submit" value="Create" />
</form>